<?php

namespace MKDF\Stream;

return [
    'mkdf-stream' => [
        'user'      => 'username',
        'pass'      => 'password',
        'server-url'    => 'http://server-url',
        'public-url'    => 'http://public-url',
    ],
];
